<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhc.example.domain.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.yhc.example.domain.entity.SysMenu" >
        <result column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="state" property="state" />
        <result column="badge" property="badge" />
        <result column="img" property="img" />
        <result column="remark" property="remark" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <sql id="Base_Column_List">
                menu_id,
                menu_name,
                parent_id,
                url,
                state,
                badge,
                img,
                remark,
                createtime
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.yhc.example.domain.entity.SysMenu">
        INSERT INTO sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != menuId'>
                menu_id,
            </if>
            <if test ='null != menuName'>
                menu_name,
            </if>
            <if test ='null != parentId'>
                parent_id,
            </if>
            <if test ='null != url'>
                url,
            </if>
            <if test ='null != state'>
                state,
            </if>
            <if test ='null != badge'>
                badge,
            </if>
            <if test ='null != img'>
                img,
            </if>
            <if test ='null != remark'>
                remark,
            </if>
            <if test ='null != createtime'>
                createtime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != menuId'>
                #{menuId},
            </if>
            <if test ='null != menuName'>
                #{menuName},
            </if>
            <if test ='null != parentId'>
                #{parentId},
            </if>
            <if test ='null != url'>
                #{url},
            </if>
            <if test ='null != state'>
                #{state},
            </if>
            <if test ='null != badge'>
                #{badge},
            </if>
            <if test ='null != img'>
                #{img},
            </if>
            <if test ='null != remark'>
                #{remark},
            </if>
            <if test ='null != createtime'>
                #{createtime}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM sys_menu
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.yhc.example.domain.entity.SysMenu">
        UPDATE sys_menu
        <set>
            <if test ='null != menuId'>menu_id = #{menuId},</if>
            <if test ='null != menuName'>menu_name = #{menuName},</if>
            <if test ='null != parentId'>parent_id = #{parentId},</if>
            <if test ='null != url'>url = #{url},</if>
            <if test ='null != state'>state = #{state},</if>
            <if test ='null != badge'>badge = #{badge},</if>
            <if test ='null != img'>img = #{img},</if>
            <if test ='null != remark'>remark = #{remark},</if>
            <if test ='null != createtime'>createtime = #{createtime}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_menu
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_menu
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM sys_menu
    </select>

</mapper>