<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhc.example.system.domain.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yhc.example.system.domain.entity.User" >
        <result column="userid" property="userId" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="role_id" property="roleId" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="expiredDate" property="expiredDate" />
        <result column="salt" property="salt" />
        <result column="state" property="state" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
                userid,
                username,
                password,
                name,
                role_id,
                email,
                phone,
                expireddate,
                salt,
                state,
                createtime
    </sql>

    <select id="listUsers" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user
        <where>
            <if test="userId != null">
                AND userId = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                AND userName = #{userName}
            </if>

            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>

            <if test="state != null">
                AND state = #{state}
            </if>

            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>

            <if test="email != null and email != ''">
                AND email like concat('%', #{email}, '%')
            </if>

        </where>
    </select>


</mapper>
