<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/oksub.css">
	<script type="text/javascript" src="/lib/loading/okLoading.js"></script>
</head>
<body>
<div class="ok-body">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>个人中心</legend>
	</fieldset>

	<!--form表单-->
	<form class="layui-form ok-form" lay-filter="filter">
		<input type="hidden" name="userId"/>
		<input type="hidden" name="url" id="url"/>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">账号</label>
				<div class="layui-input-inline">
					<input type="tel" name="userName" lay-verify="required" autocomplete="off" class="layui-input" readonly>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">用户名称</label>
				<div class="layui-input-inline">
					<input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">手机</label>
				<div class="layui-input-inline">
					<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">邮箱</label>
				<div class="layui-input-inline">
					<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline">
				<div class="layui-upload">
					<button type="button" class="layui-btn" id="test1">上传图片</button>
					<div class="layui-upload-list">
						<img class="layui-upload-img" id="demo1" th:width="92" height="92">
						<p id="demoText"></p>
					</div>
				</div>
			</div>

		</div>


		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script>
	let initData;

	layui.use(["element", "form", "laydate", "okLayer", "okUtils","upload"], function () {
		let form = layui.form;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		let upload = layui.upload;

		//普通图片上传
		var uploadInst = upload.render({
			elem: '#test1'
			,url: '/uploadOne' //改成您自己的上传接口
			,before: function(obj){
				//预读本地文件示例，不支持ie8
				obj.preview(function(index, file, result){
					$('#demo1').attr('src', result); //图片链接（base64）
				});
			}
			,done: function(res){
				//如果上传失败
				debugger
				if(res.code != 0){
					return layer.msg('上传失败');
				}else{
					$("#url").val(res.data[0].url);
				}
			}
			,error: function(){
				//演示失败状态，并实现重传
				var demoText = $('#demoText');
				demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
				demoText.find('.demo-reload').on('click', function(){
					uploadInst.upload();
				});
			}
		});


		okUtils.ajax("/user/getUser").done(function (response) {
			if(response.code == 0){
				form.val("filter", response.data);
				if(response.data.url){
					$('#demo1').attr('src', response.data.url);
				}

			}
			okLoading.close();
		}).fail(function (error) {
			console.log(error)
			okLoading.close();
		})

		form.on("submit(edit)", function (data) {
			okUtils.ajax("/user/userInfoEdit", "post", data.field, true).done(function (response) {
				console.log(response);
				okLayer.greenTickMsg("编辑成功", function () {
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				});
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	})
</script>
</body>
</html>
