<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: common_header(~{::title})">
    <title>首页</title>
</head>
<link href="/static/css/index.css" rel="stylesheet">
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <ul class="layui-nav">
                <li class="layui-nav-item">用户中心</li>
            </ul>
        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree layui-inline" id="menu-tree" lay-filter="demo" style="margin-right: 10px;">
            </ul>
        </div>
    </div>

    <div class="layui-tab" lay-filter="filter" lay-allowclose="true" style="position: fixed;left: 200px;right: 0;">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="11">网站设置</li>
            <li lay-id="22">用户管理</li>
            <li lay-id="33">权限分配</li>
            <li lay-id="44">商品管理</li>
            <li lay-id="55">订单管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">内容1</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
            <div class="layui-tab-item">内容5</div>
        </div>
    </div>

</div>

<!--使用公有js-->
<div th:replace="common/include::common_js"></div>
</body>
<script>
    $(function () {
        modal.doPost('/sysMenu/select', {}, function (message) {
            if (message.meta.code == 200) {
                var html = '';
                $.each(message.data, function (i, item) {
                    html += ' <li class="layui-nav-item">';
                    html += ' <a class="javascript:;" href="javascript:;">' + item.name + '<span class="layui-nav-more"></span></a>';
                    if (item.children) {
                        $.each(item.children, function (j, child) {
                            html += ' <dl class="layui-nav-child">';
                            html += ' <dd>';
                            html += ' <a href="javascript:;">' + child.name + '</a>';
                            html += ' </dl>';
                            html += ' </dd>';

                        });
                    }
                    html += ' </li>';

                })
                $("#menu-tree").append(html);
            }
        });


    });

    layui.use(['layer', 'element'], function () {
        var layer = layui.layer,
            element = layui.element;

        element.on('tab(filter)', function (data) {
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });

        // 监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
        // //弹出即全屏
        // var index = layer.open({
        //     type: 2,
        //     content: 'http://layim.layui.com',
        //     area: ['320px', '195px'],
        //     maxmin: true
        // });
        // layer.full(index);
    });

</script>

</html>