<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: common_header(~{::title})">
    <title>首页</title>
</head>
<link href="/static/css/index.css" rel="stylesheet">
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <ul class="layui-nav">
                <li class="layui-nav-item">用户中心</li>
            </ul>
        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav">
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">开发工具<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/demo/">调试预览</a>
                        </dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
</div>

<!--<blockquote class="layui-elem-quote layui-bg-green">注意：下述演示中的颜色只是做一个区分作用，并非栅格内置。</blockquote>-->
<!--使用公有js-->
<div th:replace="common/include::common_js"></div>
</body>
<script>
    $(function () {
        $(".layui-nav-item").click(function () {
            $(this).toggleClass("layui-nav-itemed");
        });
    })

</script>

</html>