<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: common_header(~{::title})">
    <title>登录</title>
</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin: 85px 25px 25px 25px;">
    <legend style="">用户登录</legend>
</fieldset>

<form class="layui-form layui-form-pane" id="login-form" method="post" action="/login" lay-filter="example">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="text" name="userName" lay-verify="required" lay-reqtext="用户名是必填项，不能为空？" placeholder="用户名"
                   autocomplete="off" class="layui-input">
        </div>
        <!--<div class="layui-form-mid layui-word-aux">请务必填写用户名</div>-->
    </div>

    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button type="submit" class="layui-btn" id="sub-btn" style="width: 100% ;">登录</button>
        </div>
    </div>

</form>

<!--使用公有js-->
<div th:replace="common/include::common_js"></div>
</body>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , laydate = layui.laydate;

        laydate.render({
            elem: '#date1'
        });

        //自定义验证规则
        form.verify({
            userName: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });

        //表单取值
        layui.$('#sub-btn').on('click', function(){
            event.preventDefault()
            var data = form.val('example');
            modal.doPost('/login',data,function (message) {
                console.log(message);
            });
        });

    });
</script>

<style>
    body {
        width: 500px;
        margin: auto;
        text-align: center
    }

    #login-form {
        margin: 60px 0 0 0;
        width: 500px;
        height: 200px;
    }

    .layui-input-inline {
        width: 90% !important;
        margin: 20px 0px 0px 25px !important;

    }

    .layui-input-inline input {
        border-radius: 5px !important;
    }
</style>
</html>